
<header>
    <h1>{{ mainheading }}</h1>
    <ul class="ham-items">
        <li><a href="#">Home</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Learning log</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <nav>
        <button class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>