{% render 'partials/head.liquid', title: 'FDND Homepage' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>
  <p>Active Filter: </p>
  <p class="birthdateButton">Birthdate</p>

  <ul class="PersonBox">
    {% for person in persons %}
      <li class="PersonData">
        <a href="/student/{{ person.id }}">{{ person.name }} <p>{{ person.birthdate | date: "%d-%m-%Y"}}</p></a>
        <div class="gezicht"></div>
        <div class="lichaam"></div>
        <img src="">
      </li>
    {% endfor %}
  </ul>

</main>

{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}
<!-- DE ACTIVITY MOET ALTIJD WORDEN LATEN ZIEN -->




