{% render 'partials/head.liquid', title: 'FDND Hobby Filtered' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>
    <ul class="PersonBox">
        {% for person in persons %}
          <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
          <div class="PersonIcon"></div>
          <div class="Table"></div>
      </ul>
</main>


{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE HOBBY PAGE EN NIET DE HOBBY FILTER PAGE (Zie figma welke pagina wat is)-->