{% render 'partials/filterPageHead.liquid', title: 'FDND Filter Keuze' %}

<main>
    <div class="filterButton">

    </div>
    <div class = "filterKeuze">
        <h2 class="filterIs">Filter:</h2>
        <p class = "hobbys">Hobby's</p>
    </div>
    <div class="arrow"></div>
    <ul class = "filterContentBox">
        <li class="muziek">
            <a href="/hobby/muziek"><img src="images/MuziekIcon.png" alt="">Muziek<img src="images/MuziekIcon.png" alt=""></a>
        </li>
        <li class="gamen">
            <a href="/hobby/gamen"><img src="images/RetroIcon.png" alt="">Gamen<img src="images/RetroIcon.png" alt=""></a>
        </li>
        <li class="schaken">
            <a href="/hobby/schaken"><img src="images/ChessIcon.png" alt="">Schaken<img src="images/ChessIcon.png" alt=""></a>
        </li>
        <li class="fitness">
            <a href="/hobby/fitness"><img src="images/WeightIcon.png" alt="">Fitness<img src="images/WeightIcon.png" alt=""></a>
        </li>
        <li class="sporten">
            <a href="hobby/sporten"><img src="images/BallIcon.png" alt="">Sporten<img src="images/BallIcon.png" alt=""></a>
        </li>
        <li class="uitgaan">
            <a href="hobby/uitgaan"><img src="images/CocktailIcon.png" alt="">Uitgaan<img src="images/CocktailIcon.png" alt=""></a>
        </li>
        <li class="lezen">
            <a href="hobby/lezen"><img src="images/LezenIcon.png" alt="">Lezen<img src="images/LezenIcon.png" alt=""></a>
        </li>
    </ul>
<div class="button">
    <a href="/" class="backButton" aria-label="Back Button">Back</a>
</div>

</main>

{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE HOBBY FILTER PAGE EN NIET DE HOBBY PAGE  (Zie figma welke pagina wat is)-->