{% render 'partials/head.liquid', title: 'FDND Homepage' %}

<main>

</main>

{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE HOBBY FILTER PAGE EN NIET DE HOBBY PAGE  (Zie figma welke pagina wat is)-->