{% render 'partials/head.liquid', title: 'FDND Hobby Filtered' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>
    <h2>Iedereen met de hobby: {{ hobby }}</h2>
    <ul>
        {% for person in persons %}
          <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
        {% else %}
          <li>Geen personen gevonden met deze hobby.</li>
        {% endfor %}
      </ul>
</main>


{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE HOBBY PAGE EN NIET DE HOBBY FILTER PAGE (Zie figma welke pagina wat is)-->