{% render 'partials/head.liquid', title: 'FDND Hobby Filtered' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>

</main>


{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE HOBBY PAGE EN NIET DE HOBBY FILTER PAGE (Zie figma welke pagina wat is)-->