html, body{
    background-color: var(--second-color);
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    height: 100%;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
}

main{
    height: auto;
    align-items: center;
    @media (min-width: 0px) {
        padding: 10px 50px 20px 50px;;
    }
    @media (min-width: 1275px) {
        padding: 20px 100px 30px 100px;
    }
    .filterKeuze{
        display: flex;
        align-items: center;
        h2.filterIs{
            font-size: var(--h1);
            color: var(--main-color);
        }
        p.hobbys{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--main-color);
            font-size: var(--h2);
            border-radius: 100px;
            width:  var(--mid-button-size);
            font-weight: var(--semi-bold);
            height: 50px;
            margin-left: 40px;
        }
    }
    ul.filterContentBox{
        background-color: #4F674C;
        border-radius: 50px;
        border-color: none;
        margin: 5%;
        padding: 20px;
        @media (min-width: 0px) {
            gap: 30px 0px; 
            height: 70%;
            display: grid; 
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
        }
        @media (min-width: 690px) {
            gap: 20px 0px; 
            height: 550px;
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr; 
        }
        @media (min-width: 940px) {
            gap: 20px 0px; 
            height: 550px;
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr; 
        }
        @media (min-width: 1275px) {
            gap: 20px 0px; 
            height: 450px;
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr; 
        }
        li, a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a{
            background-color: var(--main-color);
            justify-content: space-around;
            align-items: center;
            border-color: none;
            border-radius: 100px;
            width: var(--mid-button-size);
            height: 50px;
            font-size: var(--h2);
        }
    }
    .button{
        display: flex;
        justify-content: center;
        a.backButton{
            display: flex;
            background-color: var(--main-color);
            border-radius: 100px;
            width:  var(--big-button-size);
            height: 95px;
            font-size: var(--back-button-font);
            font-weight: var(--semi-bold);
            align-items: center;
            justify-content: center
        }
    }
    img{
        width: 35px;
        height: 35px;
    }
}