html body{
    background-color: #3A4F3B;
    color: black;
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
}

main{
    padding: 20px 100px 30px 100px;
    .filterKeuze{
        display: flex;
        align-items: center;
        h2.filterIs{
            font-size: 48px;
        }
        p.hobbys{
            background-color: #FFE3AF;
            border-radius: 100px;
        }
    }
    ul.filterContentBox{
        background-color: #4F674C;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 40px 0px; 
        margin: 5%;
        padding: 20px;
        border-radius: 50px;
        border-color: none;
        li, a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a{
            background-color: #FFE3AF;
            justify-content: space-around;
            align-items: center;
            border-color: none;
            border-radius: 100px;
            width: 230px;
            font-size: 24px;
        }
    }
    a.backButton{
        background-color: #FFE3AF;
        border-radius: 100px;
        width: 230px;
        font-size: 48px;
    }
    img{
        width: 43px;
        height: 43px;
    }
}