footer{
    p.madeByText{
        position: absolute;
        bottom: 0;
        margin-left: 5px;
        span.Rad{
            color: red;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

