{% render 'partials/head.liquid', title: 'FDND A-Z Filtered' %}
{% render 'partials/header.liquid', h1: 'FDND' %}

<main>

</main>


{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}