{% render 'partials/head.liquid', title: 'FDND Acitivity Filtered' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>

</main>


{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}