{% render 'partials/head.liquid', title: 'FDND Birthdate Filtered' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>
  <p>Active Filter: </p>
  <p class="birthdateButton">Birthdate</p>

  <ul class="contentBox">
    {% for person in persons %}
    <li class="personData">
        <div class="gezicht"></div>
        <div class="lichaam"></div>
        <img src="images/Bookshelfklein.png" alt="" class="bookShelfKlein">
        <a href="/student/{{ person.id }}">
            <p class="birtdate">{{ person.birthdate | date: "%d-%m-%Y"}}</p>
            <p class="name">{{ person.name }}</p>
         </a>
    </li>
    {% endfor %}
  </ul>

</main>

{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}