{% render 'partials/head.liquid', title: 'FDND Filter Keuze' %}

<main>
    <div class = "FilterKeuze">
        <h2>Filters:</h2>
        <p class = "hobbys">Hobby's</p>
    </div>
    <ul class = "filterContentBox">
        <li></li>
    </ul>


</main>

{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE BOEKEN FILTER PAGE EN NIET DE BOEKEN PAGE (Zie figma welke pagina wat is)-->