{% render 'partials/head.liquid', title: 'FDND Boeken Filtered' %}
{% render 'partials/header.liquid', mainheading: 'FDND' %}

<main>

</main>

{% render 'partials/footer.liquid'%}
{% render 'partials/foot.liquid'%}

<!-- DIT IS DUS DE BOEKEN PAGE EN NIET DE FILTER PAGE (Zie figma welke pagina wat is)-->